In [27]:
import pandas as pd
import numpy as np

# 1. Read the CSV file
df = pd.read_csv('AfricaCupofNationsMatches.csv')

# 2. Get first 7 rows
df.head(7)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
5,1959,29-May-59,NaN,Egypt,Sudan,2.0,1.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
6,1962,14-Jan-62,NaN,Ethiopia,Tunisia,4.0,2.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0

In [30]:
# 3. Select specific columns
selected_columns = df[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']]
selected_columns.head()

    HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0     Sudan           Egypt            1.0            2.0
1  Ethiopia    South Africa            NaN            NaN
2     Egypt        Ethiopia            4.0            0.0
3      Egypt       Ethiopia            4.0            0.0
4     Sudan        Ethiopia            1.0            0.0

In [31]:
# 4. Select rows where Egypt appears
egypt_matches = df[(df['HomeTeam'] == 'Egypt') | (df['AwayTeam'] == 'Egypt')]
egypt_matches.head()

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
5,1959,29-May-59,NaN,Egypt,Sudan,2.0,1.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
7,1962,18-Jan-62,NaN,Egypt,Uganda,2.0,1.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,4.0,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN
13,1963,24-Nov-63,NaN,Egypt,Nigeria,6.0,3.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN

In [33]:
# 5. Count number of rows and columns
df.shape

(622, 12)

In [34]:
# 6. Select rows where Attendance is missing
missing_attendance = df[df['Attendance'].isna()]
missing_attendance.head()

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
8,1962,20-Jan-62,NaN,Tunisia,Uganda,3.0,0.0,Third place match,NaN,Hailé Sélassié Stadium,Addis Ababa,NaN
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,4.0,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN
10,1963,24-Nov-63,NaN,Ghana,Tunisia,1.0,1.0,Group A,NaN,Accra Sports Stadium,Accra,NaN
11,1963,26-Nov-63,NaN,Ghana,Ethiopia,2.0,0.0,Group A,NaN,Accra Sports Stadium,Accra,NaN

In [36]:
# 7. Select rows where HomeTeamGoals between 3 and 6 inclusive
goals_range = df[df['HomeTeamGoals'].between(3, 6, inclusive='both')]

goals_range.head()

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
6,1962,14-Jan-62,NaN,Ethiopia,Tunisia,4.0,2.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0
8,1962,20-Jan-62,NaN,Tunisia,Uganda,3.0,0.0,Third place match,NaN,Hailé Sélassié Stadium,Addis Ababa,NaN
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,4.0,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN

In [38]:
# 8. Change AwayTeamGoals in 3rd row to 10
df.iloc[2, df.columns.get_loc('AwayTeamGoals')] = 10
df.head(10)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
5,1959,29-May-59,NaN,Egypt,Sudan,2.0,1.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
6,1962,14-Jan-62,NaN,Ethiopia,Tunisia,4.0,2.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0
7,1962,18-Jan-62,NaN,Egypt,Uganda,2.0,1.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0
8,1962,20-Jan-62,NaN,Tunisia,Uganda,3.0,0.0,Third place match,NaN,Hailé Sélassié Stadium,Addis Ababa,NaN
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,4.0,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN

In [39]:
# 9. Sort DataFrame
sorted_df = df.sort_values(by=['HomeTeam', 'HomeTeamGoals'], ascending=[True, False])
sorted_df.head()

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
205,1990,2-Mar-90,NaN,Algeria,Nigeria,5.0,1.0,Group A,NaN,Stade 5 Juillet 1962,Algiers,85000.0
29,1968,14-Jan-68,NaN,Algeria,Uganda,4.0,0.0,Group A,NaN,Hailé Sélassié Stadium,Addis Ababa,25000.0
135,1980,16-Mar-80,NaN,Algeria,Guinea,3.0,2.0,Group B,NaN,Liberty Stadium,Ibadan,20000.0
164,1984,5-Mar-84,NaN,Algeria,Malawi,3.0,0.0,Group B,NaN,Stade Bouaké,Bouaké,10000.0
171,1984,17-Mar-84,NaN,Algeria,Egypt,3.0,1.0,Third place match,NaN,Stade Félix Houphouët-Boigny,Abidjan,500.0

In [42]:
# 10. Get list from DataFrame column headers
column_headers = list(df.columns)

In [43]:
# 11. Append a new column
df['TotalGoals'] = df['HomeTeamGoals'] + df['AwayTeamGoals']

df.head()

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,TotalGoals
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0,3.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0,14.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0,4.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0,1.0

In [70]:
# 12. Add 2 new rows
new_rows = pd.DataFrame([{'Year': 2023, 'HomeTeam': 'Portigal', 'AwayTeam': 'Uganda'}, 
                        {'Year': 2023, 'HomeTeam': 'Brazil', 'AwayTeam': 'Kenya'}])
df = pd.concat([df, new_rows], ignore_index=True)
df.tail(2)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,TotalGoals
638,2023,NaN,NaN,Portigal,Uganda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
639,2023,NaN,NaN,Brazil,Kenya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
# 13. Change 'Uganda' to 'China' in AwayTeam
df['AwayTeam'] = df['AwayTeam'].replace('Uganda', 'China')
df.tail(2)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,TotalGoals
638,2023,NaN,NaN,Portigal,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
639,2023,NaN,NaN,Brazil,Kenya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
# 14. Reset index
df_reset = df.reset_index(drop=True)
print(df_reset)

     Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0    1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1    1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2    1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3    1959  22-May-59   NaN      Egypt       Ethiopia            4.0
4    1959  25-May-59   NaN     Sudan        Ethiopia            1.0
..    ...        ...   ...        ...            ...            ...
635  2023        NaN   NaN     Brazil          China            NaN
636  2023        NaN   NaN   Portigal          China            NaN
637  2023        NaN   NaN     Brazil          China            NaN
638  2023        NaN   NaN   Portigal          China            NaN
639  2023        NaN   NaN     Brazil          Kenya            NaN

     AwayTeamGoals             Stage  \
0              2.0        Semifinals
1              NaN        Semifinals
2             10.0             Final
3              0.0  Final Tournament
4              0.0  Final Tournament
..             ...               ...
635            NaN               NaN
636            NaN               NaN
637            NaN               NaN
638            NaN               NaN
639            NaN               NaN

                                  SpecialWinConditions                Stadium  \
0                                                  NaN      Municipal Stadium
1    Ethiopia  wins due to disqualification of othe...                    NaN
2                                                  NaN      Municipal Stadium
3                                                  NaN  Prince Farouk Stadium
4                                                  NaN  Prince Farouk Stadium
..                                                 ...                    ...
635                                                NaN                    NaN
636                                                NaN                    NaN
637                                                NaN                    NaN
638                                                NaN                    NaN
639                                                NaN                    NaN

          City  Attendance  TotalGoals
0     Khartoum     30000.0         3.0
1          NaN         NaN         NaN
2     Khartoum     30000.0        14.0
3        Cairo     30000.0         4.0
4        Cairo     20000.0         1.0
..         ...         ...         ...
635        NaN         NaN         NaN
636        NaN         NaN         NaN
637        NaN         NaN         NaN
638        NaN         NaN         NaN
639        NaN         NaN         NaN

[640 rows x 13 columns]

In [75]:
# 15. Check if 'Stadium' column is present
stadium_present = 'Stadium' in df.columns
print('Stadium' in df.columns)

True

In [77]:
# 16. Convert AwayTeamGoals to float
df['AwayTeamGoals'] = df['AwayTeamGoals'].astype(float)

In [78]:
# 17. Remove last 10 rows
df_trimmed = df.iloc[:-10]
print(df_trimmed)

     Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0    1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1    1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2    1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3    1959  22-May-59   NaN      Egypt       Ethiopia            4.0
4    1959  25-May-59   NaN     Sudan        Ethiopia            1.0
..    ...        ...   ...        ...            ...            ...
625  2023        NaN   NaN      Test3          Test4            NaN
626  2023        NaN   NaN      Test1          Test2            NaN
627  2023        NaN   NaN      Test3          Test4            NaN
628  2023        NaN   NaN      Test1          Test2            NaN
629  2023        NaN   NaN      Test3          Test4            NaN

     AwayTeamGoals             Stage  \
0              2.0        Semifinals
1              NaN        Semifinals
2             10.0             Final
3              0.0  Final Tournament
4              0.0  Final Tournament
..             ...               ...
625            NaN               NaN
626            NaN               NaN
627            NaN               NaN
628            NaN               NaN
629            NaN               NaN

                                  SpecialWinConditions                Stadium  \
0                                                  NaN      Municipal Stadium
1    Ethiopia  wins due to disqualification of othe...                    NaN
2                                                  NaN      Municipal Stadium
3                                                  NaN  Prince Farouk Stadium
4                                                  NaN  Prince Farouk Stadium
..                                                 ...                    ...
625                                                NaN                    NaN
626                                                NaN                    NaN
627                                                NaN                    NaN
628                                                NaN                    NaN
629                                                NaN                    NaN

          City  Attendance  TotalGoals
0     Khartoum     30000.0         3.0
1          NaN         NaN         NaN
2     Khartoum     30000.0        14.0
3        Cairo     30000.0         4.0
4        Cairo     20000.0         1.0
..         ...         ...         ...
625        NaN         NaN         NaN
626        NaN         NaN         NaN
627        NaN         NaN         NaN
628        NaN         NaN         NaN
629        NaN         NaN         NaN

[630 rows x 13 columns]

In [79]:
# 18. Iterate over rows
# Iterating over the first 5 rows and printing HomeTeam vs AwayTeam with scores
print("\nIterating over first 5 rows (sample):")
for index, row in df.head(5).iterrows():
    print(f"Row {index}: {row['HomeTeam']} vs {row['AwayTeam']} ({row['HomeTeamGoals']}-{row['AwayTeamGoals']})")

Iterating over first 5 rows (sample):
Row 0: Sudan  vs  Egypt (1.0-2.0)
Row 1: Ethiopia  vs  South Africa (nan-nan)
Row 2: Egypt  vs  Ethiopia (4.0-10.0)
Row 3: Egypt vs  Ethiopia (4.0-0.0)
Row 4: Sudan  vs  Ethiopia (1.0-0.0)

In [84]:

# 19. Write a Pandas program to change the order of your DataFrame columns.
print(data.columns)  # Corrected spelling of 'columns'

desired_order = ['Time', 'Stadium', 'Year', 'Date', 'HomeTeam', 'AwayTeam', 
                 'HomeTeamGoals', 'AwayTeamGoals', 'Stage', 'SpecialWinCon']  # Fixed spacing and closing bracket

data = data[desired_order]  # Corrected assignment and variable name
print(data.columns)  # Corrected spelling of 'columns'

NameError: name 'data' is not defined

In [85]:
# 20. Delete rows where HomeTeamGoals is 0
df_cleaned = df[df['HomeTeamGoals'] != 0]